<form method="GET" action="/quizes/<%= quiz.id %>/answer">
  <p>
    Pregunta: <%= quiz.pregunta %>
  </p>
  <input type="text" name="respuesta" value="Responda aquí"/>
  <input type="submit" value="Envíar"/>
</form>

<p>
  <a href="/quizes/<%= quiz.id %>/comments/new">Nuevo comentario</a>
</p>

<p>
  Comentario:
</p>
<% for(index in quiz.Comments){ %>
  <% if(quiz.Comments[index].publicado || session.user){ %>
    <p id="comentarios">
      - <%= quiz.Comments[index].texto %>
      <% if(session.user || !quiz.Comments[index].publicado){ %>
        <form method="POST" action="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish?_method=put">
          <input class="button" type="submit" " value="Publicar"/>
        </form>
      <% } %>
    </p>
  <% } %>
<% } %>
